* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family), serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

.p-metergroup-meter {
    height: 7px !important;
    margin-bottom: 14px !important;
}

.p-metergroup-label-icon {
    width: 1rem !important;
    height: 1rem !important;
    margin-right: 0.5rem !important;
}

.p-metergroup-label {
    margin-right: 1rem;
}

@font-face {
    font-family: 'Slimbits';
    src: url('/pv/fonts/Slimbits.ttf.woff') format('woff'),
    url('/pv/fonts/Slimbits.ttf.eot'),
    url('/pv/fonts/Slimbits.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

